In [1]:
import pandas as pd
# Specify delimiter and header row
df = pd.read_csv(r'C:\Users\GrowHouse NYC\PythonProject\data\processed\API_JAM_DS2_en_csv_v2_23264.csv',  header=  2)

In [2]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Jamaica,JAM,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,43.264413,4.831064e+01,5.864600e+01,4.584195e+01,4.762289e+01,4.726220e+01,5.212727e+01,NaN,NaN,NaN
1,Jamaica,JAM,"Internally displaced persons, new displacement...",VC.IDP.NWDS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.000000e+03,2.900000e+01,7.000000e+00,NaN,2.000000e+00,1.600000e+01,NaN,NaN,NaN
2,Jamaica,JAM,"Voice and Accountability: Percentile Rank, Upp...",VA.PER.RNK.UPPER,NaN,NaN,NaN,NaN,NaN,NaN,...,72.413795,7.487685e+01,7.586207e+01,7.427184e+01,7.294686e+01,7.246377e+01,7.246377e+01,71.497581,NaN,NaN
3,Jamaica,JAM,Voice and Accountability: Estimate,VA.EST,NaN,NaN,NaN,NaN,NaN,NaN,...,0.608786,6.813315e-01,6.911668e-01,5.934585e-01,6.130288e-01,6.254615e-01,6.200103e-01,0.588516,NaN,NaN
4,Jamaica,JAM,High-technology exports (current US$),TX.VAL.TECH.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,552512.000000,2.140177e+06,2.485946e+06,4.123124e+06,2.128180e+06,1.133039e+06,1.034853e+06,927489.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1473,Jamaica,JAM,Energy related methane emissions (% of total),EN.ATM.METH.EG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1474,Jamaica,JAM,HFC gas emissions (thousand metric tons of CO2...,EN.ATM.HFCG.KT.CE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1475,Jamaica,JAM,"Other greenhouse gas emissions, HFC, PFC and S...",EN.ATM.GHGO.KT.CE,NaN,NaN,NaN,NaN,NaN,NaN,...,-1246.262543,-9.265750e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1476,Jamaica,JAM,CO2 emissions (kg per PPP $ of GDP),EN.ATM.CO2E.PP.GD,NaN,NaN,NaN,NaN,NaN,NaN,...,0.278885,2.825366e-01,2.576635e-01,2.935684e-01,2.793645e-01,2.128212e-01,NaN,NaN,NaN,NaN
1477,Jamaica,JAM,CO2 emissions (kt),EN.ATM.CO2E.KT,NaN,NaN,NaN,NaN,NaN,NaN,...,7088.700000,7.549500e+03,7.225000e+03,8.589000e+03,8.394300e+03,5.835600e+03,NaN,NaN,NaN,NaN

In [3]:
df.shape

(1478, 69)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1478 entries, 0 to 1477
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    1478 non-null   object
 1   Country Code    1478 non-null   object
 2   Indicator Name  1478 non-null   object
 3   Indicator Code  1478 non-null   object
 4   1960            187 non-null    float64
 5   1961            211 non-null    float64
 6   1962            225 non-null    float64
 7   1963            229 non-null    float64
 8   1964            220 non-null    float64
 9   1965            228 non-null    float64
 10  1966            240 non-null    float64
 11  1967            246 non-null    float64
 12  1968            246 non-null    float64
 13  1969            250 non-null    float64
 14  1970            339 non-null    float64
 15  1971            370 non-null    float64
 16  1972            376 non-null    float64
 17  1973            387 non-null    float64
 18  1974            408 non-null    float64
 19  1975            428 non-null    float64
 20  1976            514 non-null    float64
 21  1977            500 non-null    float64
 22  1978            462 non-null    float64
 23  1979            492 non-null    float64
 24  1980            515 non-null    float64
 25  1981            521 non-null    float64
 26  1982            482 non-null    float64
 27  1983            512 non-null    float64
 28  1984            512 non-null    float64
 29  1985            520 non-null    float64
 30  1986            507 non-null    float64
 31  1987            515 non-null    float64
 32  1988            554 non-null    float64
 33  1989            546 non-null    float64
 34  1990            659 non-null    float64
 35  1991            708 non-null    float64
 36  1992            650 non-null    float64
 37  1993            734 non-null    float64
 38  1994            693 non-null    float64
 39  1995            707 non-null    float64
 40  1996            785 non-null    float64
 41  1997            697 non-null    float64
 42  1998            730 non-null    float64
 43  1999            777 non-null    float64
 44  2000            908 non-null    float64
 45  2001            851 non-null    float64
 46  2002            953 non-null    float64
 47  2003            891 non-null    float64
 48  2004            939 non-null    float64
 49  2005            894 non-null    float64
 50  2006            856 non-null    float64
 51  2007            945 non-null    float64
 52  2008            972 non-null    float64
 53  2009            951 non-null    float64
 54  2010            1070 non-null   float64
 55  2011            1037 non-null   float64
 56  2012            1006 non-null   float64
 57  2013            995 non-null    float64
 58  2014            1005 non-null   float64
 59  2015            1000 non-null   float64
 60  2016            1019 non-null   float64
 61  2017            993 non-null    float64
 62  2018            1013 non-null   float64
 63  2019            935 non-null    float64
 64  2020            809 non-null    float64
 65  2021            701 non-null    float64
 66  2022            492 non-null    float64
 67  2023            26 non-null     float64
 68  Unnamed: 68     0 non-null      float64
dtypes: float64(65), object(4)
memory usage: 796.9+ KB

In [5]:
pd.set_option('display.max_columns', 69)
pd.set_option('display.max_rows', 69)